.char {
  display: inline-block;
  position: relative;
  margin-right: 10px;
  transition: 0.1s;
  overflow: hidden;
  font-size: 1.5rem;
}
@keyframes rotate {
  from {
    transform: translateX(50px) rotate(17deg);
    opacity: 1;
  }
  to {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
}
.home-overplay {
  position: absolute;
  z-index: 0;
}
.home {
  /* animation: rotate 0.5s forwards; */
  text-align: center;
  display: grid;
  place-items: center;
  height: 100%;
  width: 90%;
  margin: auto;
  position: relative;
}
.home-overplay img {
  width: 100vw;
}
.home-content {
  z-index: 1;
  padding: 5% 0 15%;
}
.home-content .greeting p {
  color: white;
  font-size: 4rem;
  margin-bottom: 0;
  font-weight: 1000;
  letter-spacing: 4px;
}
.home-content .introduction {
  width: 71%;
  margin: auto;
}

.char-sub {
  position: absolute;
  top: 50px;
  transition: all 0.5s 2s;
  color: #ffc947;
  transition: 0.5s;
  cursor: default;
}

.char-main {
  position: relative;
  transition: all 0.5s;
  top: 0;
  cursor: default;
  color: #ffff;
}
/* .char:hover .char-main {
  top: -20px;
} */
.active {
  top: -50px;
}
.active + .char-sub {
  top: 0;
}
/*button*/
.btn-project {
  margin-top: 8%;
  width: 30px;
  height: 45px;
  border: white 1px solid;
  border-radius: 15px;
  position: relative;
  /* padding: 8px 15px;
  font-size: 1rem;
  background: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-weight: 700;
  transition: 0.3s;
  cursor: pointer;
  outline: none; */
}
/* .btn-project:hover {
  background-color: white;
  color: #185adb;
  border-color: white;
} */
.btn-project::before {
  /* content: "";
  width: 7px;
  height: 7px;
  background-color: #ffff;
  position: absolute;
  top: 2px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%); */
  /* animation: mouse 1s ease infinite 5s; */
}

@media screen and (max-width: 1200px) {
  .home-content .introduction {
    width: 80%;
    margin: auto;
  }
  .home-content .greeting p {
    font-size: 3.5rem;
    margin-bottom: 0;
  }
  .char {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 992px) {
  .home-content .introduction {
    width: 90%;
    margin: auto;
  }

  .home-content .greeting p {
    font-size: 3rem;
    margin-bottom: 0;
  }
  .char {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 768px) {
  .home-content .introduction {
    width: 90%;
    margin: auto;
  }
  .home-content .greeting p {
    font-size: 2rem;
    margin-bottom: 0;
  }
  .char {
    font-size: 1.2rem;
  }
}
