.project-modal .modal-dialog {
  max-width: 50%;
  border-radius: 5px;
}

.project-modal .modal-content {
  background-color: pink;
}
.project-modal .project-logo {
  background-color: #222327;
  color: white;
  display: grid;
  border-radius: 10px 0 0 10px;
  place-items: center;
}

.project-logo-event {
  background-image: linear-gradient(150deg, #ffc947 -20%, #0abac2);
  background: url("https://paperpillar.com/assets/images/hero-pattern-bg.png"),
    linear-gradient(150deg, #c99fff -20%, #4a4eff);
  background-size: cover;
}
.project-logo .portfolio {
  background: linear-gradient(pink, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
}
.project-info {
  /* color: #ffff; */
  background-color: #ffff;
  padding: 20px 15px;
  border-radius: 0 10px 10px 0;
}
.project-header {
  display: flex;
  justify-content: space-between;
}
.project-header span {
  font-size: 1.1rem;
}
/* .project-header h2 {
  color: white;
} */
.project-header i {
  font-size: 2rem;
}
.project-skills {
  margin-bottom: 20px;
  white-space: normal;
  overflow-wrap: break-word;
}
.project-skills span {
  padding: 5px;
  border: 1px solid #22262a;
  margin: 0 10px 10px 0;
  font-size: 0.9rem;
  white-space: nowrap;
  display: inline-block;
}
@font-face {
  font-family: Inconsolate, sans-serif;
  src: url(../../assets/font/Inconsolata.ttf);
}
.project-about .about-content {
  font-family: Inconsolate;
  letter-spacing: 0.7px;
  max-height: 250px;
  overflow: auto;
}
.project-about span {
  font-size: 1.1rem;
}
.project-btn {
  margin: 30px 0;
}
.project-btn .btn-project {
  font-size: 1rem;
  padding: 2px 20px;
  margin-right: 20px;
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px) {
  .project-btn {
    text-align: center;
  }
  .project-btn .btn-project {
    font-size: 1rem;
    padding: 2px 20px;
    margin-right: 20px;
    text-decoration: none;
  }
  .project-modal .modal-dialog {
    max-width: 70%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 992px) {
  .project-modal .modal-dialog {
    max-width: 80%;
    border-radius: 5px;
  }
}

@media screen and (max-width: 768px) {
  .project-modal .modal-dialog {
    max-width: 90%;
    border-radius: 5px;
  }
}
@media screen and (max-width: 576px) {
  .project-modal .modal-dialog {
    max-width: 100%;
    border-radius: 5px;
  }
  .project-btn .btn-project {
    display: block;
  }
}
