.footer-container {
  background-color: #171a1d;
  color: white;
  width: 100%;
  padding: 20px 0;
}
.footer-content p {
  font-family: "Times New Roman", Times, serif;
  color: #94a4b4;
  letter-spacing: 1px;
}
.footer-content p span {
  color: white;
}
.footer-content {
  width: 40%;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
