.App {
  height: 100vh;
}
@font-face {
  font-family: Staatliches;
  src: url(./assets/font/Staatliches-Regular.ttf);
}

body {
  background-color: #ffff;
  font-family: Staatliches, sans-serif, "Times New Roman", Times, serif;
}

button:focus {
  outline: none;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #97bfd3;
  border-radius: 5px;
}
body {
  overflow-x: hidden;
}
