.App {
  height: 100vh;
}
@font-face {
  font-family: Staatliches;
  src: url(./assets/font/Staatliches-Regular.ttf);
}
body {
  background-color: #22262a;
  font-family: Staatliches, sans-serif, "Times New Roman", Times, serif;
}

button:focus {
  outline: none;
}
